 <!--team-->
 <div id="team" class="team">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.5s">About Us</h2>
        <p>Commonly used to demonstrate the textual elements of a graphic document or The foundation of the K.S.R. College of Technology was laid in the year 1994, near Thiruchengode, South India. A vital part of the enormous K.S.R. Group of Institutions, it is carving a distinct place for itself under the tutelage of Lion Dr. K. S. Rangasamy.</p>
        <div class="row">
        <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.4s">
          <img src="http://ksrct.ac.in/admin/file_manager/source/mange1.jpg" alt="" class="img-circle">
          <h3>Dr. K. S. Rangasamy.</h3>
          <h4>Chairman's Message</h4>
          <p>The Institution provides the necessary infrastructure and a team of qualified and motivated faculty all under one roof for the student community.</p>
           <i class="fa fa-pinterest-square" aria-hidden="true"></i>
           <i class="fa fa-twitter" aria-hidden="true"></i>
           <i class="fa fa-linkedin-square" aria-hidden="true"></i>
           <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
          <img src="http://www.ksrct.ac.in/admin/file_manager/source/faculty/mech/DrAK.jpg?1519740080841" alt="" class="img-circle">
         <h3>Dr.A.Kumaravel</h3>
          <h4>Principal's Message</h4>
          <p>More over, sustainable development is the need of the hour. It means, meeting the needs of the present society, without sacrificing the needs of future generations.</p>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
           <i class="fa fa-twitter" aria-hidden="true"></i>
           <i class="fa fa-linkedin-square" aria-hidden="true"></i>
           <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.0s">
          <img src="http://www.ksrce.ac.in/admin/uploads/carosel/seceretry.png" alt="" class="img-circle" width="260px" height="290px">
         <h3>Dr.R.Srinivasan</h3>
          <h4>Vice chairman's Message</h4>
          <p>The technical colleges under Aarthi Educational & Charitable Trust are the product of a vision of a dream of excellence in affordable education.</p>
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
           <i class="fa fa-twitter" aria-hidden="true"></i>
           <i class="fa fa-linkedin-square" aria-hidden="true"></i>
           <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
       
      </div>
    </div>
  </div>

