<div class="container" ng-controller="register">
	<div class="text-center">
	        <h1 class="nice">Registration Form</h1>
	  </div>		
			<div class="row">
				<div class="col-sm-9 form-group">
					<label>User Id</label>
					<input type="text" placeholder="Enter Student ID" class="form-control">
				</div>
				<div class="col-sm-3 form-group">
					<label></label>
					<input type="submit" placeholder="Enter First Name Here.." class="form-control">
				</div>
			</div>	
			<div class="form-group">
				<label for="">Register Number</label>
				<input type="text" class="form-control" placeholder="Enter register number" ng-model="adminInfo.password">
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<label>First Name</label>
					<input type="text" placeholder="Enter First Name Here.." class="form-control">
				</div>
				<div class="col-sm-6 form-group">
					<label>Last Name</label>
					<input type="text" placeholder="Enter Last Name Here.." class="form-control">
				</div>
			</div>	
			<div class="form-group">
				<label for="">Email</label>
				<input type="text" class="form-control" placeholder="Enter your email" ng-model="adminInfo.password">
			</div>
			<fieldset class="inline-fields">
   				<label>Degree</label> 
		        <div class = "row col-sm-12">
		                <select class="form-control" id="column_select">
		                    <option value="1">BE</option>
		                    <option value="2">B.TECH</option>
		                    <option value="3">ME</option>
		                    <option value="4">M.Tech</option>
		                    <option value="5">MBA</option>
		                </select>
		        </div>
		    </fieldset>
		    <br>
		    <fieldset class="inline-fields">
   				<label>College</label> 
		        <div class = "row col-sm-12">
		                <select class="form-control" id="column_select">
		                    <option value="1">K.S.Rangasamy College of Technology</option>
		                    
		                </select>
		        </div>
		    </fieldset>
		    <br>
			
			<div class="form-group">
				<label for="">Department</label>
				<input type="text" class="form-control" placeholder="Eg:IT/CSE/ECE/EEE" ng-model="adminInfo.password">
			</div>
			<div class="form-group">
				<label for="">Year of Passing</label>
				<input type="text" class="form-control" placeholder="Eg:2010" ng-model="adminInfo.password">
			</div>
			<div class="form-group">
				<label for="">Mobile Number</label>
				<input type="text" class="form-control" placeholder="Enter mobile number" ng-model="adminInfo.password">
			</div>
			 <fieldset class="inline-fields">
   				<label>Status</label> 
		        <div class = "row col-sm-12">
		                <select class="form-control" id="column_select">
		                    <option value="1">active</option>\
		                     <option value="1">inactive</option>
		                    
		                </select>
		        </div>
		    </fieldset>
		    <br>
			
			
			
			<button type="submit" class="btn btn-default" ng-click="adminLogin()">Submit</button>
			<button type="submit" class="btn btn-default" ng-click="adminLogin()">Clear</button>
		<br><br>
</div>