<div id="header" class="header" ng-controller="home">

    <div back-img="fonts/images/background.jpg" >
        <div class="container">
            <div class="row">
                  <div class="col-lg-6 col-md-6 wow bounceInLeft" data-wow-delay="0.5s">
                    <h1 class=" wow fadeInUp">Vehicle Tracking....</h1>
                    <p>An individual vehicles with software that collects these fleet data for a comprehensive picture of vehicle locations to access vehicle tracking system combines the use of automatic vehicle location.</p>
                    <button class="btn btn-primary btn-lg" ng-click = "sign_in()">sign In</button>
                    <button class="btn btn-success btn-lg" id="view" ng-click = "admin_login()" >Admin</button>
                  </div>
              <div class="col-lg-6 col-md-6 wow bounceInRight" data-wow-delay="0.5s" >
                <img src="fonts/images/responsive.jpg" alt="responsive.jpg">
              </div>
            </div>
        </div>
    </div>
  </div>